body {
    background-color: var(--bg-color);
}

.post-card-icon {
    font-size: 25px;
}

.content-container {
    margin-top: 40pt;
}

.form-container {
    margin-top: 20pt;
}

.input-field {
    margin: 0px;
}

.card-link {
    display: block;
}

.post-link {
    color: inherit;
}

.post-card {
    background-image: url('../../../../media/post_images/default.png');
    background-size: cover;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    width: 100%;
    padding-top: 144.79%;
    position: relative;
}

.post-card .card-content {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0; 
}

.post-card .card-title {
    color: white;
}

.post-link h5 {
    font-size: 18px;
}

.owl-stage {
    margin: 2em;
}

.posts-carousel {
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 90%, rgba(0,0,0,0));
    -webkit-mask-size: 100%;
}

.favourite-button {
    position: absolute;
    top: -5px;
    right: 10px;
    z-index: 3;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.card-reveal {
    padding-top: 20px;
    z-index: 2;
    height: 60%;
    border-bottom-right-radius: 0.8em;
}


@media only screen and (max-width: 600px) {
    .blog-grid-row {
        margin-bottom: 0px;
    }

    .owl-carousel .post-card {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .posts-carousel {
        -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 95%, rgba(0,0,0,0));
        -webkit-mask-size: 100%;
    }

    .owl-stage {
        margin-left: 0.5em;
        margin-right: 1em;
    }
}

@media only screen and (max-width: 1000px) {
    .posts-carousel {
        -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 95%, rgba(0,0,0,0));
        -webkit-mask-size: 100%;
    }
}

