nav #logo {
    height: 50px;
    border-radius: 50px;
    border: solid black 1px;
    vertical-align: middle;
    margin-bottom: 10px;
}

li .black-text {
    color: black;
    font-weight: 500;
}

.error-message-field {
    color: #cc0000;
    margin-top: -20px;
    padding-top: 0px;
}

