:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --post-card-bg: #fff;
}

[data-theme="dark"] {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #e1e1ff;
    --bg-color: #121212;
    --heading-color: #292922;
    --post-card-bg: #fff;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: rgba(0, 0, 0, 0);
}

nav #logo {
    height: 35px;
    vertical-align: middle;
    margin-bottom: 8px;
}

.error-message-field {
    color: #cc0000;
    margin-top: -20px;
    padding-top: 0px;
}

.page-footer {
    background-color: rgba(0, 0, 0, 0);
    color: #8c8889;
    margin-top: 20pt;
}

.page-footer h {
    color: #5c5758;
}

.page-footer a {
    text-decoration: none;
    color: inherit;
}

.page-footer .footer-copyright {
    color: #8c8889;
}

.page-footer #logo-footer {
    height: 50px;
    border-radius: 50px;
    border: solid black 1px;
    vertical-align: middle;
    margin-top: 0px;
}

.links-social li {
    height: 2em;
}

.be-the-best {
    letter-spacing: 1px;
}

.fadeout-gradient {
    position: absolute;
    background-color: red;
}

nav ul a, 
.dropdown-content ul a,
.sidenav ul a {
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}

#menu-icon {
    color: black;
}

nav ul a:hover,
#menu-icon:hover,
.sidenav li>a:hover {
    color: rgb(189, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 600px) {
    #menu-icon {
        display: block;
    }
}

