:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #292929;
    --sec-font-color: #fff;
    --font-highlight-color: #E8544F;
    --bg-color: #fff;
    --heading-color: #292922;
    --post-card-bg: #fff;
    --logo-texto: url(../img/logo_texto.png);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --hoverable-shadow: 0 8px 17px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    --link-hover: #D0D0D0;
    --form-input-bg: rgba(232, 230, 230, 0.4);
    --form-input-bg-opaque: rgba(232, 230, 230);
    --form-input-color: #A2A2A2;
    --form-bt-color: #4E4E4E;
    --form-bt-bg: #E8E6E6;
    --notificacoes-hl-color: #292929;
    --notificacoes-color: #4E4E4E;
}

[data-theme="dark"] {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #D0D0D0;
    --sec-font-color: #fff;
    --font-highlight-color: #E8544F;
    --bg-color: #121212;
    --heading-color: #292922;
    --post-card-bg: #fff;
    --logo-texto: url(../img/logo_texto_branca.png);
    --shadow-color: rgba(255, 255, 255, 0.3);
    --hoverable-shadow: 0 8px 17px 0 rgb(0 0 0 / 90%), 0 6px 20px 0 rgb(0 0 0 / 86%);
    --link-hover: #292929;
    --form-input-bg: rgba(41, 41, 41, 0.4);
    --form-input-bg-opaque: rgba(41, 41, 41);
    --form-input-color: #A2A2A2;
    --form-bt-color: #E3E3E3;
    --form-bt-bg: #121212;
    --notificacoes-hl-color: #fff;
    --notificacoes-color: #D0D0D0;
}

.hoverable:hover {
    -webkit-box-shadow: var(--hoverable-shadow);
    box-shadow: var(--hoverable-shadow);
}

.theme-switch-wrapper {
    color: var(--font-color);
    cursor: pointer;
    display: inline-block;
}

input {
    font-family: 'Poppins', sans-serif !important;
}

button {
    font-family: 'Poppins', sans-serif !important;
}

#search-txt {
    background-color: rgba(0, 0, 0, 0);
    color: var(--font-color);
}

#search-div i {
    color: var(--font-color);
}

#dropdown1 {
    width: 200px !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0.3px 2px var(--shadow-color);
}

nav #logo {
    height: 35px;
    vertical-align: middle;
    margin-bottom: 8px;
}

.error-message-field {
    color: #cc0000;
    margin-top: -20px;
    padding-top: 0px;
}

.page-footer .container {
    width: 80% !important;
}

.page-footer {
    background-color: black !important;
    color: white;
    padding-top: 3.5em;
}


.page-footer form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.page-footer form .input-field {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.page-footer form .input-field {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.page-footer form .input-field textarea {
    min-height: 81px;
}

.page-footer form .input-field input[type=text],
.page-footer form .input-field input[type=password],
.page-footer form .input-field input[type=email],
.page-footer form .input-field textarea {
    color: white;
    font-size: 14px;
    margin: 0px !important;
    width: 100% !important;
}

.page-footer form .input-field label {
    font-size: 14px;
}

.page-footer form .input-field input[type=text]:focus + label,
.page-footer form .input-field input[type=password]:focus + label,
.page-footer form .input-field input[type=email]:focus + label,
.page-footer form .input-field textarea:focus + label {
    color: white;
}

.page-footer form .input-field input[type=text]:focus,
.page-footer form .input-field input[type=password]:focus,
.page-footer form .input-field input[type=email]:focus,
.page-footer form .input-field textarea:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.input-field>input[type]:-webkit-autofill:not(.browser-default):not([type="search"])+label,
.input-field>input[type=date]:not(.browser-default)+label, .input-field>input[type=time]:not(.browser-default)+label {
    color: white;
}

.page-footer form button {
    color: white !important;
    background-color: #121212 !important;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.15em;
    border-radius: 1.2em/0.2em;
}

#redes .col a i {
    margin-left: 50%;
    transform: translateX(-50%);
}

.page-footer a {
    text-decoration: none;
    color: inherit;
    font-size: 10px;
    letter-spacing: 0.25em;
    font-weight: 300;
}

.page-footer h5 {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.footer-copyright {
    font-weight: 200;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0) !important;
}

.page-footer-copyright-only {
    background-color: rgba(0, 0, 0, 0) !important;
    color: var(--notificacoes-hl-color) !important;
}

.footer-copyright-only {
    font-weight: 400;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0) !important;
}

.sidenav {
    background-color: var(--bg-color);
    text-align: right;
    width: auto;
    min-width: 250px;
}

.sidenav>ul>li>a {
    text-align: center;
}

.sidenav>ul>li>a>i {
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
    color: inherit !important;
    font-size: 22px !important;
}

nav ul a,
.sidenav a,
.dropdown-content ul a,
.sidenav ul a {
    text-transform: uppercase;
    color: var(--font-color) !important;
    font-weight: 500 !important;
}

#menu-icon {
    color: var(--font-color);
}

nav ul a:hover,
#menu-icon:hover,
.sidenav li>a:hover,
.dropdown-content li:hover {
    color: var(--font-highlight-color);
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-content li>a, .dropdown-content li>span {
    color: var(--font-color);
}

.sidenav li>a>i.material-icons {
    color: inherit;
}

nav li a,
.sidenav li a {
    font-weight: 500 !important;
    font-size: 14px !important;
}

nav .dropdown-content li a, 
.sidenav .dropdown-content li a{
    font-weight: 500 !important;
    font-size: 12px !important;
    letter-spacing: 0.15em !important;
}

#dropdown1, #dropdown2 {
    background-color: var(--bg-color);
    box-shadow: 0px 0.3px 2px var(--shadow-color);
    font-weight: 500 !important;
}

#dropdown1 li i,
#dropdown2 li i {
    font-size: 19px !important;
    color: inherit !important;
    margin-right: 5pt;
}

nav li a:hover,
.sidenav li a:hover {
    color: var(--link-hover) !important;
}

.highlight-link {
    color: #E8544F !important;
}

.bookmark-icon:hover {
    color: var(--font-color) !important;
}

.bookmark-icon.highlight-link {
    color: var(--font-color) !important;
}

.icon-profile {
    height: 24px;
    margin: 0px;
    vertical-align: middle;
}

#modal-sair {
    width: 350px !important;
    background-color: var(--bg-color) !important;
    color: var(--font-color) !important;
}

#modal-sair a {
    color: inherit !important;
    text-transform: none !important;
}

#modal-sair ul li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

#modal-sair .btn-small {
    background-color: var(--form-bt-bg);
    color: var(--form-bt-color);
    font-weight: 400 !important;
    letter-spacing: 0.15em;
    font-size: 13px;
    border-radius: 1.2em/0.2em;
    width: 105px;
    margin: 0;
}

#logo-container-footer {
    margin-bottom: 2em;
}

.page-footer>container>row>col>ul>li>a {
    line-height: 5px;
}

@media only screen and (max-width: 600px) {
    #menu-icon {
        display: block;
    }
    #redes h5 {
        text-align: left !important;
    }
    #redes {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    #logo-container-footer {
        text-align: center;
    }    
}

