{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock head %}

{% block content %}

    <div class="row form-container">
        <div class="col s12 m8 offset-m2">
            <div class="card form-card">
                <div class="card-action grey lighten-2">
                    <h3>Novo Post</h3>
                </div>
                <div class="card-content">
                    <form action="" method="post" enctype="multipart/form-data" class="form-card-form">
                        {% csrf_token %}

                        {% for field in form_novo_post %}
                            <div class="row">
                                {% if not field.name == 'file' and not field.name == 'image' %}
                                    <div class="input-field col s12">
                                        {{ field }}
                                        {{ field.label_tag }}
                                        {% for error in field.errors %}
                                            <p class="error-message-field">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {% if field.name == 'file' %}
                                        <div class="file-field input-field col s12">
                                            <div class="btn grey lighten-2 black-text">
                                                <span><i class="left material-icons">attach_file</i>Arquivo</span>
                                                {{ field }}
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input type="text" class="file-path validate">
                                            </div>
                                            {% for error in field.errors %}
                                                <p class="error-message-field">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="file-field input-field col s12">
                                            <div class="btn grey lighten-2 black-text">
                                                <span><i class="left material-icons">image</i>Imagem</span>
                                                {{ field }}
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input type="text" class="file-path validate">
                                            </div>
                                            {% for error in field.errors %}
                                                <p class="error-message-field">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <p>
                            <label>
                                <input type="checkbox" name="notification" id="notification" value="notification">
                                <span>Notificar usuários?</span>
                            </label>
                        </p><br>
                        

                        {% if form_novo_post.non_field_errors %}
                            <div class="non-field-error">
                                <p>{{ form_novo_post.non_field_errors }}</p>
                            </div>
                        {% endif %}
                        <button class="btn-large grey lighten-2 black-text waves-effect waves-dark" style="width:100%">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var intro = document.querySelector('#id_intro');
        intro.classList.add('materialize-textarea')
        
    </script>

{% endblock content %}
