{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="container content-container">
        <h3>Todos</h3>
        <div class="owl-carousel owl-theme posts-carousel">
            {% for post in todos_posts %}
                <div class="card hoverable post-card hover-reveal" data-merge="2">
                    <div class="card-content">
                        <span class="card-title activator"><a href="{{ post.file.url }}" target="_blank" class="post-link"><h5>{{ post.title }}</h4></a></span>
                        <br><p>{{ post.intro }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for categoria, verbose_name, posts_categoria in categorias %}
            <h3>{{ verbose_name }}</h3>
            <div class="owl-carousel posts-carousel">
                {% for post in posts_categoria %}
                    <div class="card hoverable post-card hover-reveal" data-merge="2">
                        <div class="card-content">
                            <span class="card-title activator"><a href="{{ post.file.url }}" target="_blank" class="post-link"><h5>{{ post.title }}</h4></a></span>
                            <br><p>{{ post.intro }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'blog/js/script.js' %}"></script>


{% endblock content %}
