{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="container">
        <h2>Posts</h2>

        <div class="row">
            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <a href="#" class="right btn-floating pink">
                            <i class="material-icons s10">bookmark</i>
                        </a>
                        <span class="card-title">Treino de calistenia para iniciantes</span>
                        <br><p>Algumas informações preliminares sobre o post vão aqui.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <a href="#" class="right btn-floating pink">
                            <i class="material-icons s10">bookmark</i>
                        </a>
                        <span class="card-title">Treino de calistenia para iniciantes</span>
                        <br><p>Algumas informações preliminares sobre o post vão aqui.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <a href="#" class="right btn-floating pink">
                            <i class="material-icons s10">bookmark</i>
                        </a>
                        <span class="card-title">Treino de calistenia para iniciantes</span>
                        <br><p>Algumas informações preliminares sobre o post vão aqui.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                        <a href="#" class="right btn-floating pink">
                            <i class="material-icons s10">bookmark</i>
                        </a>
                        <span class="card-title">Treino de calistenia para iniciantes</span>
                        <br><p>Algumas informações preliminares sobre o post vão aqui.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Link</a>
                        <a href="#">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
