{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock head %}

{% block content %}

    <div class="container content-container">
        {% if searched %}
            {% if not num_posts > 0 %}
                <div class="search-result">
                    <h5>Não foram encontrados resultados para <strong>"{{ searched }}".</strong></h5>
                </div>
            {% else %}
                <div class="search-result">
                    <h5>{% if not num_posts == 1 %}Foram encontrados{% else %}Foi encontrado{% endif %} {{ num_posts }} resultado{% if not num_posts == 1 %}s{% endif %} para <strong>"{{ searched }}"</strong>:</h5>
                </div><br>
                {% for line in posts_mtx %}
                    <div class="row blog-grid-row">
                        {% for post in line %}
                            <div class="col s6 m3 l3">
                                <div class="card hoverable post-card hover-reveal" style="background-image: url({{ post.image.url }});">
                                    <div class="right top favourite-button" id="favourite_button_{{ post.id }}">
                                        {% if  post in favourite_posts %}
                                            <i class="material-icons saved">bookmark</i>
                                        {% else %}
                                            <i class="material-icons">bookmark</i>
                                        {% endif %}
                                        <span class="post-id" style="display: none;">{{ post.id }}</span>
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator"><a href="{{ post.file.url }}" target="_blank" class="post-link"><h5>{{ post.title }}</h4></a></span>
                                    </div>
                                    <div class="card-reveal" style="background-color: rgba(0, 0, 0, 0.6); color: white;">
                                        <p>{{ post.intro }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <h4>Insira um termo para pesquisar.</h4>
        {% endif %}
        
    </div>

    <script src="{% static 'blog/js/script.js' %}"></script>

{% endblock content %}
