{% load static %}

<footer class="page-footer">
    <div class="container big-footer">
        <div class="row">
            <div class="col s6 m2 l2">
                <img src="{% static 'img/logo_somente_texto_branca.png' %}" alt="Logo Stell">
            </div>
            <div class="col s6 m2 l2">
                <h5>Empresa</h5>
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Stell Wear</a></li>
                    <li><a href="#">Patrocínio</a></li>
                </ul>
            </div>
            <div class="col s6 m2 l2">
                <h5>Informações</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Termos e Condições</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="col s6 m2 l2" id="redes">
                <h5 class="center">Siga-nos</h5>
                <div class="row">
                    <div class="col s4 m4 l4 offset-s2 offset-m2 offset-l2"><a href="#"><i class="material-icons">email</i></a></div>
                    <div class="col s4 m4 l4"><a href="#"><i class="material-icons">email</i></a></div>
                </div>
                <div class="row">
                    <div class="col s4 m4 l4 offset-s2 offset-m2 offset-l2"><a href="#"><i class="material-icons">email</i></a></div>
                    <div class="col s4 m4 l4"><a href="#"><i class="material-icons">email</i></a></div>
                </div>
                <div class="row">
                    <div class="col s4 m4 l4 offset-s2 offset-m2 offset-l2"><a href="#"><i class="material-icons">email</i></a></div>
                    <div class="col s4 m4 l4"><a href="#"><i class="material-icons">email</i></a></div>
                </div>        
            </div>
            <div class="col s12 m4 l4">
                <h5>Sugestões</h5>
                <form method="POST" class="footer-form col s12 m12 l12">
                    <div class="input-field col s12 m12 l12">
                        <input type="text" id="nome" name="nome" class="validate">
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s12 m12 l12">
                        <input type="email" id="email" name="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12 m12 l12">
                        <textarea id="mensagem" name="mensagem" class="materialize-textarea"></textarea>
                        <label for="mensagem">Mensagem</label>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <div class="footer-copyright row">
        <div class="container center">
            <div class="col s12 m6 l6 left">
                <span class="left">Copyright&copy; 2022 | Stell Inc.</span>
            </div>
            <div class="col s12 m6 l6 right">
                <span class="right">(42) 99090-9090 - contato@stellworkout.com</span>
            </div>
        </div>
    </div>
</footer>
