{% load static %}

<footer class="page-footer">
    <div class="container big-footer">
        <div class="center" style="width: 100%;">
            <a href="{% url 'home' %}" class="brand-logo"><img src="{% static 'img/logo.png' %}" alt="Logo StellWorkout" class="responsive-img" id="logo-footer"></a>
            <p class="be-the-best">Be The Best</p>
        </div>
        <div class="row">
            <div class="col l6 s12">
                <p>
                    Estamos aqui para te ajudar a SER O MELHOR. <br>
                    Por meio da Calistenia, nós podemos mudar sua saúde e seu corpo para melhor. <br>
                    Alcance seus objetivos com a gente. <br>
                    Acompanhe nossos vídeos para todos os níveis e objetivos. <br>
                    Depois, conte-nos sobre os resultados, porque amamos resultados!
                </p>
            </div>
            <div class="col l4 offset-l2 s12 valign-wrapper center-align">
                <ul class="links-social" style="width: 100%;">
                    <li><a href="https://www.instagram.com/stellworkout/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.youtube.com/channel/UC1a3h09g_djN94d2X_kvsAA?sub_confirmation=1" target="_blank">YouTube</a></li>
                    <li><a href="https://pin.it/5XGxPJS" target="_blank">Pinterest</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2021 StellWorkout
        </div>
    </div>
</footer>
