{% load static %}

<script>
    $(document).ready(function(e){

        var inMobile = false;

        $('.sidenav').sidenav();
        $(".dropdown-trigger").dropdown();

        $("#search-icon").click(function(e) {

            if($("#menu-icon").is(":visible")) {
                inMobile = true;
            } else {
                inMobile = false;
            }

            $("#search-icon").hide();
            $("#logo").hide();
            if(inMobile) {
                $("#menu-icon").css("display", "none");
            } else {
                $("#comp-menu").hide();
            }
            $("#search-div").fadeIn();
            $("#search-txt").focus();
        });

        $("#close-icon").click(function(e) {
            $("#search-div").hide();
            $("#search-icon").fadeIn();
            $("#logo").fadeIn();
            if(inMobile) {
                $("#menu-icon").css("display", "unset");
            } else {
                $("#comp-menu").fadeIn();
            }
        });

        $("#search-txt").blur(function(e) {
            $("#search-div").hide();
            $("#search-icon").fadeIn();
            $("#logo").fadeIn();
            if(inMobile) {
                $("#menu-icon").fadeIn();
            } else {
                $("#comp-menu").fadeIn();
            }
        })
    });
</script>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'favourite_posts' %}" class="black-text">
        <i class="material-icons black-text">bookmark</i> Favoritos
    </a></li>
    <li><a href="{% url 'change_password' %}" class="black-text">Alterar Senha</a></li>
    <li><a href="{% url 'my_data' %}" class="black-text">Meus Dados</a></li>
    <li><a href="{% url 'logout' %}" class="black-text">Sair</a></li>
    <li><a href="{% url 'del_user' %}" class="black-text">Excluir Conta</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
    <li><a href="{% url 'favourite_posts' %}" class="black-text">
        <i class="material-icons black-text">bookmark</i> Favoritos
    </a></li>
    <li><a href="{% url 'change_password' %}" class="black-text">Alterar Senha</a></li>
    <li><a href="{% url 'my_data' %}" class="black-text">Meus Dados</a></li>
    <li><a href="{% url 'logout' %}" class="black-text">Sair</a></li>
    <li><a href="{% url 'del_user' %}" class="black-text">Excluir Conta</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="{% url 'home' %}" class="brand-logo"><img src="{% static 'img/logo_texto.png' %}" alt="Logo StellWorkout" class="responsive-img" id="logo"></a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav" id="menu-icon">
                <i class="material-icons black-text">menu</i>
            </a>
            {% if not user.is_authenticated %}
                <!--USUARIO SEM CADASTRO-->
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'register' %}" class="black-text">Cadastro</a></li>
                    <li><a href="{% url 'login' %}" class="black-text">Entrar</a></li>
                    <li><a href="#" class="black-text">Sobre</a></li>
                </ul>
            {% else %}
                {% if user.is_admin %}
                    <!--USUARIO ADMIN-->
                    <ul id="comp-menu" class="right hide-on-med-and-down">
                        <li><a href="{% url 'admin:index' %}" class="black-text">Administração</a></li>
                        <li><a href="{% url 'novo_post' %}" class="black-text">Novo Post</a></li>
                        <li><a class="dropdown-trigger black-text" href="#!" data-target="dropdown1" style="width: 140pt; text-align: center;"><i class="material-icons black-text">account_circle</i></a></li>
                    </ul>
                    <ul class="right">
                        <li><a href="#" id="search-icon"><i class="material-icons black-text">search</i></a></li>
                    </ul>
                    <div class="left" style="width: 100%;">
                        <form method="POST" action="{% url 'search_posts' %}">
                            {% csrf_token %}
                            <div class="input-field" style="display: none;" id="search-div">
                                <input type="search" id="search-txt" style="height: max-content;" placeholder="Pesquise por um post" name="searched">
                                <label for="search" class="label-icon"><i class="material-icons black-text">search</i></label>
                                <i class="material-icons" id="close-icon">close</i>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <!--USUARIO CADASTRADO COMUM-->
                    
                    <ul id="comp-menu" class="right hide-on-med-and-down">
                        <li><a class="dropdown-trigger black-text" href="#!" data-target="dropdown1" style="width: 140pt; text-align: center;"><i class="material-icons black-text">account_circle</i></a></li>
                    </ul>
                    <ul class="right">
                        <li><a href="#" id="search-icon"><i class="material-icons black-text">search</i></a></li>
                    </ul>
                    <div class="left" style="width: 100%;">
                        <form method="POST" action="{% url 'search_posts' %}">
                            {% csrf_token %}
                            <div class="input-field" style="display: none;" id="search-div">
                                <input type="search" id="search-txt" style="height: max-content;" placeholder="Pesquise por um post" name="searched">
                                <label for="search" class="label-icon"><i class="material-icons black-text">search</i></label>
                                <i class="material-icons" id="close-icon">close</i>
                            </div>
                        </form>
                    </div>
                    
                {% endif %}
            {% endif %}
        </div>
    </div>
</nav>




<ul class="sidenav" id="mobile-nav">
    {% if not user.is_authenticated %}
        <!--USUARIO SEM CADASTRO-->
        <ul id="nav-mobile">
            <li><a href="{% url 'register' %}" class="black-text">Cadastro</a></li>
            <li><a href="{% url 'login' %}" class="black-text">Entrar</a></li>
            <li><a href="#" class="black-text">Sobre</a></li>
        </ul>
    {% else %}
        {% if user.is_admin %}
            <!--USUARIO ADMIN-->
            <ul id="nav-mobile">
                <li><a href="{% url 'admin:index' %}" class="black-text">Administração</a></li>
                <li><a href="{% url 'novo_post' %}" class="black-text">Novo Post</a></li>
            </ul>
        {% else %}
            <!--USUARIO CADASTRADO COMUM-->
            <ul id="nav-mobile" style="width: 100%;">
                <li class="right" style="width: 100%;"><a class="dropdown-trigger black-text" href="#!" data-target="dropdown2" style="width: 100%; text-align: center;"><i class="material-icons black-text">account_circle</i></a></li>
            </ul>
        {% endif %}
    {% endif %}
</ul>







