{% load static %}

<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>

<nav>
    <div class="nav-wrapper white">
        <div class="container">
            <a href="#" class="brand-logo"><img src="{% static 'img/logo.png' %}" alt="Logo StellWorkout" class="responsive-img" id="logo"></a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                <i class="material-icons black-text">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}" class="black-text">Home</a></li>
                <li><a href="{% url 'register' %}" class="black-text">Cadastro</a></li>
                <li><a href="{% url 'login' %}" class="black-text">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-nav">
    <li><a href="{% url 'home' %}" class="black-text">Home</a></li>
    <li><a href="{% url 'register' %}" class="black-text">Cadastro</a></li>
    <li><a href="{% url 'login' %}" class="black-text">Login</a></li>
</ul>





