{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
{% endblock head %}

{% block content %}

    <style>
        footer {
            display: none !important;
        }
    </style>

    <div class="row center">
        <h3>Página em construção</h3>
        <img src="{% static 'pages/img/construction.gif' %}" alt="Em Construção" style="width: 300px;">
        <p>Em breve os conteúdos desta página estarão disponíveis para você acessar!</p>
    </div>

{% endblock content %}

{% block js %}
    <script src="{% static 'pages/js/script.js' %}"></script>
{% endblock js %}
