{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'pages/css/style.css' %}">
{% endblock head %}

{% block content %}

    <div class="container">
        
    </div>
    <style>
        body {
            background-image: url('../../static/pages/img/home_background.png');
            background-size: cover;
        }
        nav {
            box-shadow: none;
            border-bottom: none;
        }
        footer {
            display: none;
        }
        .nav-wrapper .container {
            width: 80%;
            padding-left: 4em;
        }
    </style>


{% endblock content %}
