{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="row form-container">
        <div class="col s12 m6 offset-m3">
            <div class="card form-card">
                <div class="card-action">
                    <h3>Excluir Conta</h3>
                </div>
                <div class="card-content" id="form-exclusao">
                    <h5>Tem certeza?</h5>
                    <p>Esta ação é irreversível! Após digitar a sua senha e clicar em "Excluir Conta", todos os dados da sua conta serão apagados.</p><br>
                    <form action="" method="post" class="form-card-form" autocomplete="off">
                        {% csrf_token %}

                        {% for field in del_user_form %}
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ field }}
                                    {{ field.label_tag }}
                                </div>
                            </div>
                        {% endfor %}
                        {% if del_user_form.non_field_errors %}
                            <div class="non-field-error center">
                                <p>Dados incorretos</p>
                            </div>
                        {% endif %}
                        <div class="helper-text-wrapper">
                            <div class="col s6 left">
                                <a href="{% url 'home' %}">Cancelar</a>
                            </div>
                            <div class="col s6 right">
                                <button class="waves-effect waves-dark right">Excluir Conta</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        :root {
            --profile-background: url('../../static/account/img/form_background.jpg');
        }
        [data-theme="dark"] {
            --profile-background: url('../../static/account/img/form_background_dark.jpg');
        }
        body {
            background: var(--bg-color) var(--profile-background) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock content %}




