{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock head %}

{% block content %}

<style>
    #nav_bar {
        position: relative;
    }
</style>
    
    <div class="content-over-bg-image" id="login_container">
        <form action="" method="post" id=form_login class="glass-container">
            {% csrf_token %}

            <h1>Login</h1>
    
            {% for field in login_form %}
                <p class="campo">
                    <div class="input">
                        {{ field }}
                    </div>

                    <div class="label-tag">
                        {{ field.label_tag }}
                    </div>
                </p>

                {% for error in field.errors %}
                    <div class="erro">
                        <p>{{ error }}</p>
                    </div>
                    
                {% endfor %}

            {% endfor %}
    
            {% if login_form.non_field_errors %}
                <div class="erro">
                    <p>{{ login_form.non_field_errors }}</p>
                </div>
            {% endif %}
    
            <button type="submit" class="submit-button">Entrar</button>

            <p class='helper-link'>Ainda não possui uma conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
        </form>
    </div>

    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock content %}