{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="row form-container">
        <div class="col s12 m6 offset-m3">
            <div class="card form-card">
                <div class="card-action">
                    <h3>Meus Dados</h3>
                </div>
                <div class="card-content">
                    <form action="" method="post" class="form-card-form">
                        {% csrf_token %}

                        {% for field in u_form %}
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ field }}
                                    {{ field.label_tag }}
                                    {% for error in field.errors %}
                                        <p class="error-message-field">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        {% if u_form.non_field_errors %}
                            <div class="non-field-error">
                                <p>{{ u_form.non_field_errors }}</p>
                            </div>
                        {% endif %}
                        <button class="btn-large grey lighten-2 waves-effect waves-dark" style="width:100%">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}