


{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock head %}

{% block content %}

    <div class="container content-container">
        {% if user_exists %}
            <h5>Como o email <b>{{ email }}</b> não foi verificado, não será possível recuperar a senha! :/</h5>
            <p>Por favor <a href="{% url 'register' %}"> crie uma nova conta</a>.</p>
        {% else %}
            <h5>O email <b>{{ email }}</b> não foi encontrado em nossa base de dados! Por favor verifique se não há erro de digitação.</h5>
        {% endif %}
    </div>

    <style>
        .big-footer {
            display: none;
        }
        p a {
            color: inherit;
            text-decoration: underline;
        }
        h5 b {
            font-weight: 500;
        }
    </style>

{% endblock content %}

