{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="row form-container"  style="min-height: 100vh;">
        <div class="col s12 m6 offset-m3">
            <div class="card form-card">
                <div class="card-action">
                    <h3>Redefinir Senha</h3>
                </div>
                <div class="card-content">
                    <p style="font-weight: 300;">Insira o seu email e enviaremos instruções para a recuperação de sua senha.</p><br>
                    <form method="post" class="form-card-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="email" type="email" required="true">
                                <label for="email">Endereço de email</label>
                            </div>
                        </div>
                    
                        <button class="btn-large waves-effect waves-dark" style="width:100%">Enviar Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            background-image: url('../../static/account/img/form_background.jpg');
            background-size: cover;
        }
    </style>
{% endblock content %}
