<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">

<style>
    h3 {
        text-align: center;
    }
    .email-wrapper {
        text-align: center;
        max-width: 85%;
        margin: auto;
        border: solid 1px black;
        font-family: 'Poppins';
    }
</style>

<div class="email-wrapper">
    <h3>Olá {{ user.username }}!</h3>
    <p>Você solicitou uma redefinição de senha para a sua conta Stell. Por favor, clique no link abaixo para redefinir sua senha.</p>
    <p>http://{{ domain }}{% url 'password_reset_new_pass'  uidb64=uid token=token %}</p>
    <p>Caso não tenha solicitado recuperação de senha, ignore este email.</p>
</div>

