{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock head %}

{% block content %}

    <div class="container content-container">
        <h5>Algo deu errado, por favor solicite novamente a <a href="{% url 'password_reset' %}">recuperação de senha</a>.</h5>
    </div>

    <style>
        .big-footer {
            display: none;
        }
        h5 a {
            color: inherit;
            text-decoration: underline;
        }
    </style>

{% endblock content %}