{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock head %}

{% block content %}

    {% if current_hash %}
        <span style="display: none;" id="initial-hash">{{ current_hash }}</span>
    {% endif %}

    <div class="container profile-page-container">
        <h3>Configurações</h3>

        <div class="row">
            <div class="col s12 m3 l3 profile-sidenav">
                <ul>
                    <li class="active"><a href="#editar-perfil" id="editar-perfil-trigger">Editar Perfil</a></li>
                    <li><a href="#notificacoes" id="notificacoes-trigger">Notificações</a></li>
                    <li><a href="#alterar-senha" id="alterar-senha-trigger">Alterar Senha</a></li>
                    <li><a href="#ajuda" id="ajuda-trigger">Ajuda</a></li>
                    <li id="sair"><a class="modal-trigger" href="#modal-sair"><i class="my-custom-icons-logout inline-icon"></i> Sair</a></li>
                </ul>
            </div>
            <div class="col s12 m9 l9 center hide-on-small-only profile-forms-container">
                <div class="row active" id="editar-perfil">
                    <form action="#" class="form-card-form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12 m10 l5 offset-m1 offset-l1">
                                {{ my_data_form.username }}
                                {{ my_data_form.username.label_tag }}
                                {% for error in my_data_form.username.errors %}
                                    <p class="error-message-field">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="input-field col s12 m10 l5 offset-m1">
                                {{ my_data_form.name }}
                                {{ my_data_form.name.label_tag }}
                                {% for error in my_data_form.name.errors %}
                                    <p class="error-message-field">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m10 l5 offset-m1 offset-l1">
                                {{ my_data_form.email }}
                                {{ my_data_form.email.label_tag }}
                                {% for error in my_data_form.email.errors %}
                                    <p class="error-message-field">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="input-field col s12 m10 l5 offset-m1">
                                {{ my_data_form.date_of_birth }}
                                {{ my_data_form.date_of_birth.label_tag }}
                                {% for error in my_data_form.date_of_birth.errors %}
                                    <p class="error-message-field">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m10 l5 offset-m1 offset-l1">
                                {{ my_data_form.country }}
                                {{ my_data_form.country.label_tag }}
                                {% for error in my_data_form.country.errors %}
                                    <p class="error-message-field">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="input-field col s12 m10 l5 offset-m1">
                                {{ my_data_form.gender }}
                                {{ my_data_form.gender.label_tag }}
                                {% for error in my_data_form.gender.errors %}
                                    <p class="error-message-field">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m5 l5 offset-m1 offset-l1">
                                <button class="btn-small waves-effect waves-dark" style="width:100%">Confirmar</button>
                            </div>
                            <div class="col hide-on-small-only m6 l6"></div>
                        </div>
                    </form>
                </div>
                <div class="row" id="notificacoes">
                    <form action="{% url 'notificacoes' %}" class="form-card-form" method="POST" id="notificacoes-form">
                        {% csrf_token %}
                        <p class="checkbox-block">
                            <label>
                                <input type="checkbox" name="novos-posts" id="novos-posts" class="cb-notificacoes filled-in"
                                {% if user.subscriber %}checked{% endif %}
                                >
                                <span>
                                    <span class="label-title">Emails de novos posts</span><br>
                                    Receba notificações de novos e-books.
                                </span>
                            </label>
                        </p>
                        <p class="checkbox-block">
                            <label>
                                <input type="checkbox" name="novos-cursos" id="novos-cursos" class="cb-notificacoes filled-in"
                                {% if 'novos-cursos' in notificacoes %}checked{% endif %}
                                >
                                <span>
                                    <span class="label-title">Emails de novos cursos</span><br>
                                    Garanta sua vaga em novos cursos antes do lançamento.
                                </span>
                            </label>
                        </p>
                        <p class="checkbox-block">
                            <label>
                                <input type="checkbox" name="emails-promocoes" id="emails-promocoes" class="cb-notificacoes filled-in"
                                {% if 'emails-promocoes' in notificacoes %}checked{% endif %}
                                >
                                <span>
                                    <span class="label-title">Emails de promoções</span><br>
                                    Ganhe promoções da Stell Wear e cursos.
                                </span>
                            </label>
                        </p>
                        <p class="checkbox-block">
                            <label>
                                <input type="checkbox" name="emails-feedback" id="emails-feedback" class="cb-notificacoes filled-in"
                                {% if 'emails-feedback' in notificacoes %}checked{% endif %}
                                >
                                <span>
                                    <span class="label-title">Emails de feedback</span><br>
                                    Forneça feedbacks para melhorarmos nosso serviço.
                                </span>
                            </label>
                        </p>
                    </form>
                </div>
                <div class="row" id="alterar-senha">
                    <form action="#" class="form-card-form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12 m10 l6 offset-m1 offset-l3">
                                {{ change_password_form.old_password }}
                                {{ change_password_form.old_password.label_tag }}
                                {% for error in change_password_form.old_password.errors %}
                                    <p class="error-message-field">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="input-field col s12 m10 l6 offset-m1 offset-l3">
                                {{ change_password_form.new_password1 }}
                                {{ change_password_form.new_password1.label_tag }}
                                {% for error in change_password_form.new_password1.errors %}
                                    <p class="error-message-field">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="input-field col s12 m10 l6 offset-m1 offset-l3">
                                {{ change_password_form.new_password2 }}
                                {{ change_password_form.new_password2.label_tag }}
                                {% for error in change_password_form.new_password2.errors %}
                                    <p class="error-message-field">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m10 l6 offset-m1 offset-l3">
                                <button class="btn-small waves-effect waves-dark" style="width:100%">Confirmar</button>
                            </div>
                            <div class="col hide-on-small-only m6 l6"></div>
                        </div>
                    </form>
                </div>
                <div class="row" id="ajuda">
                    <form action="{% url 'ajuda' %}" method="POST">
                        {% csrf_token %}
                        <div class="col s12 m10 l6 offset-m1 offset-l3 left">
                            <h5 class="left">Como podemos ajudar você?</h5>
                            <div class="input-field">
                                <input type="text" id="nome_ajuda" name="nome_ajuda" placeholder="Nome" required>
                            </div>
                            <div class="input-field">
                                <input type="email" id="email_ajuda" name="email_ajuda" placeholder="Email" required>
                            </div>
                            <div class="input-field">
                                <textarea id="mensagem_ajuda" name="mensagem_ajuda" class="materialize-textarea" required placeholder="Mensagem"></textarea>
                            </div>
                            <button class="btn-small waves-effect waves-dark" style="width: 100%;">Enviar</button>
                        </div>   
                    </form>
                    <div class="col s12 right">
                        <span class="right telefone">(42) 99990-9070</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        :root {
            --profile-background: url('../../static/account/img/form_background.jpg');
        }
        [data-theme="dark"] {
            --profile-background: url('../../static/account/img/form_background_dark.jpg');
        }
        body {
            background: var(--bg-color) var(--profile-background) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        footer {
            display: none;
        }
    </style>

    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock content %}