{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="user-profile">

        <div class="cabecalho">
            <div class="image-cropper">
            </div>

            <style>
                .image-cropper {
                    background-image: url({{ user.profile.image.url }});
                }
            </style>

            <div class="user-basic-info">
                <div id="username">{{ user.username }}</div>
                <div id="email">{{ user.email }}</div>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data" id="form_editar_perfil">

            <div class="navegar">
                <ul>
                    <li><a href="{% url 'change_password' %}">Alterar Senha</a></li>
                    <li><a href="">Relatar um Problema</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                    <li><a href="{% url 'del_user' %}">Excluir Minha Conta</a></li>
                    {% if request.user.is_admin %}
                        <li><a href="{% url 'admin:index' %}">Administração</a></li>
                    {% endif %}
                </ul>
            </div>

                <div class="formulario">

                <h2>Meus Dados</h2>

                {% csrf_token %}

                {% for field in u_form %}
                    <p class="campo">
                        <div class="label-tag">
                            {{ field.label_tag }}
                        </div>

                        <div class="input">
                            {{ field }}
                        </div>
                    </p>

                    {% for error in field.errors %}
                        <div class="erro">
                            <p>{{ error }}</p>
                        </div>
                    {% endfor %}
                {% endfor %}

                {% for field in p_form %}
                    <div id="escolher_arquivo_wraper">
                        <span>Foto de perfil: </span>
                        <input id="uploadFile" placeholder="Escolha um arquivo" disabled="disabled"/>
                        <label for="id_image" id="image_label">Procurar</label>
                    </div>

                    <p class="p-field">{{ field }}</p>

                    {% for error in field.errors %}
                        <div class="erro">
                            <p>{{ error }}</p> <br>
                        </div>
                    {% endfor %}
                {% endfor %}

                <button type="submit" class="submit-button">Salvar</button>
            </div>

            
        </form>

    </div>

    <script>
        document.getElementById("id_image").onchange = function () {
            document.getElementById("uploadFile").value = this.files[0].name;
        };
    </script>

{% endblock content %}