{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base-style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/velocity.min.js' %}"></script>
    
    <title>StellWorkout</title>
    {% block head %}

    {% endblock head %}
</head>
<body>
    {% if user.is_authenticated %}
        <input type="hidden" value="{{ user.dark_mode }}" id="preset_dark">
    {% else %}
        <input type="hidden" value="False" id="preset_dark">
    {% endif %}
    
    {% include 'snippets/header.html' %}
    
    <script>
        const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]')
        if (toggleSwitch.checked) {
            document.documentElement.setAttribute('data-theme', 'dark');
        }
    </script>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>M.toast({html: "{{ message }}", classes: 'green rounded', displayLength:2000});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{ message }}", classes: 'blue rounded', displayLength:2000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{ message }}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{ message }}", classes: 'red rounded', displayLength:10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <main>
        {% block content %}

        {% endblock content %}
    </main>

    {% include 'snippets/footer.html' %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>