{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base-style.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    
    <title>StellWorkout</title>
    {% block head %}

    {% endblock head %}
</head>
<body>
    <div class="site">
        {% include 'snippets/header.html' %}

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success'%}
                    <script>M.toast({html: "{{ message }}", classes: 'green rounded', displayLength:2000});</script>
                {% elif message.tags == 'info'%}
                    <script>M.toast({html: "{{ message }}", classes: 'blue rounded', displayLength:2000});</script>
                {% elif message.tags == 'warning'%}
                    <script>M.toast({html: "{{ message }}", classes: 'orange rounded', displayLength:10000});</script>
                {% elif message.tags == 'error'%}
                    <script>M.toast({html: "{{ message }}", classes: 'red rounded', displayLength:10000});</script>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="content">
            {% block content %}

            {% endblock content %}
        </div>

        {% include 'snippets/footer.html' %}
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>