body {
    overflow-x: hidden;
}

.content-over-bg-image {
    position: relative;
    background-attachment: fixed;
    height: 39em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}

#be_the_best {
    background-image: url("../img/home/be-the-best-cover.jpg");
}

#be_the_best h1 {
    font-weight: 1000;
    font-size: 75px;
    position: relative;
    left: 200px;
    top: 60px;
    word-break: break-all;
}

.bt-div {
    position: relative;
    min-width: 250px;
    min-height: 40px;
    background-color: gray;
    display: inline-block;
    cursor: pointer;
}

.bt-div .child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botoes-cadastro-login {
    position: absolute;
    left: 200px;
    display: inline-block;
    bottom: 120px;
    text-transform: uppercase;
}

.botoes-cadastro-login .bt-div .child {
    font-size: 17px;
    font-weight: 600;
    color: white;
}

#bt_div_cadastro {
    background: #0f0f0f;
    border: 4px solid #070707;
    margin-right: 4px;
}

#bt_div_login {
    background: #7c0101;
    border: 4px solid #6b0101;
    margin-left: 4px;
}

.quadros {
    margin-top: 130px;
    margin-left: 50%;
    transform: translate(-505px, 0);
}

#quadros_image {
    width: 650px;
}

#quadros_text {
    background-color: #E21C21;
    color: white;
    width: 650px;
    padding: 70px;
    text-align: justify;
    line-height: 30px;
    position: relative;
    left: 360px;
    top: -300px;
}

#quadros_text h2 {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 40px;
}

#quadros_text h3,
#quadros_text strong {
    font-weight: 700;
}

#quadro_treinos_movimentos {
    height: 42em;
    background-image: url("../img/home/treinos-movimentos.jpg");
    color: white;
    display: flex;
    align-content: space-around;
    margin-top: -160px;
}

#quadro_treinos_movimentos div {
    width: 400px;
    line-height: 30px;
    margin: auto;
    margin-top: 80px;
}

#quadro_treinos_movimentos div h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-left: -10px;
}

#quadro_treinos_movimentos div ul {
    padding-left: 25px;
    font-weight: 700;
    list-style-type: disc;
}

#quadro_premium {
    background-image: url("../img/home/quadro-premium.jpg");
}

#quadro_premium .logo {
    position: absolute;
    left: 40px;
    bottom: 40px;
}

#quadro_premium .logo img {
    width: 80px;
    border-radius: 80px;
    border: solid black 1px;
}

#quadros-seriado-ciclico {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.quadro-negro {
    background-color: black;	        
    width: 450px;
    padding: 1.5em 2em 1.5em;
    border-radius: 1em;
    margin: 3em 2em 3em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
 
#tipos_de_treino h1 {
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 60px;
}
 
#tipos_de_treino h2 {
    color: red;
    font-family: Raleway, sans-serif;
    font-size: 25px;
    margin-top: 1.5em;
    font-weight: lighter;
}
 
#tipos_de_treino p {
    font-size: 16px;
    color: white;
    margin-top: 1em;
    line-height: 1.5em;
}
 
#quadro_hiit {
    background-color: black;
}

#quadro_hiit .wraper {
    padding: 6em 0 6em;
    display: flex;
    max-width: 1200px;
    margin: auto;
}

#texto_hiit {
    width: 450px;
    margin: auto;
    text-align: justify;
}

#quadro_hiit figure {
    margin: auto;
}
 
#quadro_hiit img {
    width: 450px;
}
 
#quadro_treinos_prontos {
    background-image: url("../img/tipos_de_treino/treinos_prontos.jpg");
    padding: 6em 2em 6em;
    text-align: justify;
}
 
#quadro_treinos_prontos h1 {
    margin-bottom: 50px;
}

#texto_treinos_prontos {
    max-width: 900px;
    margin: auto;
}

#quadros-seriado-ciclico strong {
    font-weight: 600;
    text-decoration: underline red;
}

@media screen and (max-width: 1100px) {
    #quadros_text {
        left: 200px;
        top: -250px;
    }
    .quadros {
        margin-left: 50%;
        transform: translate(-425px, 0);
    }
    .quadro-negro {
        width: 400px;
    }
    #quadros-seriado-ciclico {
        max-width: 1000px;
    }
    #texto_hiit {
        width: 400px;
    }
    #quadro_hiit img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    #be_the_best {
        text-align: center;
        padding-top: 4em;
    }
    #be_the_best h1 {
        position: static;
    }
    .botoes-cadastro-login {
        position: static;
        margin-top: 15em;
    }
    #bt_div_cadastro {
        margin-left: 8px;
    }
    #bt_div_login {
        margin-right: 8px;
    }
    
    .quadros {
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        transform: translate(0, 0);
        width: 100%;
    }
    
    #quadros_figure {
        position: static;
        margin: auto;
    }

    #quadros_image {
        width: 85vw;
    }
    
    #quadros_text {
        background-color: #E21C21;
        color: white;
        width: 85%;
        padding: 35px;
        text-align: left;
        position: static;
        margin: auto;
        line-height: 27px;
        margin-bottom: 50px;
    }

    #quadros_text h2 {
        line-height: 60px;
    }

    #quadro_treinos_movimentos {
        height: 65em;
        flex-direction: column;
        align-content: space-around;
        margin-top: 0px;
    }

    #quadro_treinos_movimentos div {
        width: 600px;
    }
    .quadro-negro {
        width: 550px;
        margin: 1em auto 1em;
    }
    #quadros-seriado-ciclico {
        flex-direction: column;
        max-width: 1200px;
        padding: 2em 0 2em;
    }
    #quadro_hiit .wraper {
        flex-direction: column;
    }
    #texto_hiit {
        margin-bottom: 5em;
        width: 600px;
    }
    #quadro_hiit img {
        width: 600px;
    }
}


@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .quadro-negro {
        width: 90vw;
        margin: 1em auto 1em;
    }
    #texto_hiit {
        width: 85vw;
    }
    #quadro_hiit img {
        width: 85vw;
    }
}

@media screen and (max-width: 545px) {
    #bt_div_cadastro {
        margin: auto;
    }
    #bt_div_login {
        margin: auto;
    }
}

@media only screen and (max-width: 400px) {
    #quadro_treinos_movimentos div {
        width: 320px;
    }

    #quadro_treinos_movimentos div h2 {
        font-size: 50px;
    }
}

