.helper-text {
    padding-top: 3pt;
    font-size: 15px;
    text-align: center;
}

.non-field-error {
    color: #cc0000;
}

nav {
    box-shadow: none;
    border-bottom: none;
}

.form-container {
    padding-top: 10pt;
}

.form-card {
    border: none;
    box-shadow: none;
    color: #424242;
    background-color: rgba(0, 0, 0, 0);
}

.form-card .card-action {
    background-color: rbga(0, 0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6pt;
    box-shadow: none;
    border: none;
    height: 70pt;
}

.form-card .card-action h3 {
    font-size: 40px;
    font-weight: 500;
}

.form-card .input-field {
    margin: 0;
}

.form-card-form .input-field input[type=text],
.form-card-form .input-field input[type=password],
.form-card-form .input-field input[type=email] {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: #eeeeee;
    color: #616161;
    width: calc(100% - 10pt);
    padding-left: 5pt;
    padding-right: 5pt;
    border-radius: 1.2em/0.2em;
}

.form-card-form .input-field label {
    padding-left: 5pt;
    color: #616161;
    font-weight: 500;
    letter-spacing: 2pt;
}

.form-card-form .input-field input[type=text]:focus + label,
.form-card-form .input-field input[type=password]:focus + label,
.form-card-form .input-field input[type=email]:focus + label {
    color: #616161;
}

.form-card-form .input-field input[type=text]:focus,
.form-card-form .input-field input[type=password]:focus,
.form-card-form .input-field input[type=email]:focus {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}

.form-card button {
    color: #212121;
    font-weight: 500;
    letter-spacing: 2pt;
    border-radius: 1.2em/0.2em;
}

.form-card a {
    color: #b71c1c;
}
