.helper-text {
    padding-top: 3pt;
    font-size: 15px;
    text-align: center;
}

.non-field-error {
    color: #cc0000;
}

.form-container {
    padding-top: 10pt;
}

.form-card {
    border: none;
    box-shadow: none;
    color: var(--font-color);
    background-color: rgba(0, 0, 0, 0);
}

.form-card .card-action {
    background-color: rbga(0, 0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6pt;
    box-shadow: none;
    border: none;
    height: 70pt;
}

.form-card .card-action h3 {
    font-size: 40px;
    font-weight: 500;
}

.form-card .input-field {
    margin: 0;
}

.form-card-form .input-field input[type=text],
.form-card-form .input-field input[type=password],
.form-card-form .input-field input[type=email] {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: #eeeeee;
    color: #616161;
    width: calc(100% - 10pt);
    padding-left: 5pt;
    padding-right: 5pt;
    border-radius: 1.2em/0.2em;
}

.form-card-form .input-field label {
    padding-left: 5pt;
    color: #616161;
    font-weight: 500;
    letter-spacing: 2pt;
}

.form-card-form .input-field input[type=text]:focus + label,
.form-card-form .input-field input[type=password]:focus + label,
.form-card-form .input-field input[type=email]:focus + label {
    color: var(--font-color);
}

.form-card-form .input-field input[type=text]:focus,
.form-card-form .input-field input[type=password]:focus,
.form-card-form .input-field input[type=email]:focus {
    border-bottom: 1px solid var(--font-color);
    box-shadow: 0 1px 0 0 #616161;
}

.input-field>input[type]:-webkit-autofill:not(.browser-default):not([type="search"])+label,
.input-field>input[type=date]:not(.browser-default)+label, .input-field>input[type=time]:not(.browser-default)+label {
    transform: translateY(-16px) scale(0.8);
    color: var(--font-color);
}

.form-card button {
    color: #212121;
    font-weight: 500;
    letter-spacing: 2pt;
    border-radius: 1.2em/0.2em;
}
.helper-text-wrapper {
    margin-top: 20px;
}

.helper-text-wrapper a {
    color: #b71c1c;
}
